/*
** Bootstrap over-rides
*/
body {
    font-family: 'Montserrat', sans-serif;
	display: flex;
	height: 100%;
	flex-direction: column;
	min-height: 100vh;
    line-height: 1.5;
    font-size: 14px;
    color: #000000;
}
.page-content {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}
h1 {
    font-size: 30px;
}

.titles {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
}
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}
.subcategories {
    border-bottom: 1px solid #ececec;
    padding: 0 0 30px;
}
.subcategories > ul > li > a {
    color: #000;
    text-decoration: none;
    display: block;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.subcategories > ul > li > a:hover {
    opacity: 0.8;
}
.subcategories > ul > li span.name {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}



@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.form-control {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    height: 36px;
    padding: 7px 12px;
}

.btn {
    font-size: 13px;
    padding: 8px 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-default,
.btn-primary:focus, 
.btn-primary:active:focus {
    border-color: #000;
    background-color: #fff;
    color: #000;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:hover:focus,
.btn-default.focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-default.btn-inverse,
.btn-primary {
    color: #ffeec9;
    background-color: #4b8a03;
    border-color: #4b8a03;
}
.btn-default.btn-inverse:hover,
.btn-primary:hover {
    color: #ffeec9;
    background-color: #4b8a03;
    border-color: #4b8a03;
    opacity: 0.8;
}
#divRewardWidget {
    color: #000 !important;
}
.navbar.navbar-inverse {
    margin-bottom: 0;
    border: none;
    background-color: #ffffff;
}
.navbar.navbar-inverse  .navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav>li {
    display: inline-block;
    float: none;
    padding: 30px;
}
.navbar-nav>li .dropdown-menu {
    top: 99%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
    font-weight: 500;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    min-height: 0;
    transition: opacity .25s ease-out;
    padding: 0;
}
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000000;
    background-color: rgba(255,255,255,0.2);
    opacity: 0.75;
}
.dropdown-menu > li > a {
    font-size: 12px;
    padding: 6px 20px;
    text-transform: uppercase;
}
.navbar-nav > li.dropdown > a:after {
    content: "\f107";
    font-family: "fontello";
    font-size: 18px;
    line-height: 1;
    margin-left: 5px;
}
@media (max-width: 1023px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}
/*
** Template code
*/
.site-header {
    padding: 60px 0 40px;
}
.site-header .row {
    display: flex;
}
.site-header .row [class*='col-'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo {
    position: relative;
    overflow: hidden;
    display: flex;
}
.logo > a {
    display: flex;
    align-items: center;
}
.logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .25s ease-out;
}
.logo a:hover img {
    opacity: 0.6;
}
.top-nav {
    background-color: #4b8a03;
    color: #ffeec9;
}
.top-nav ul {
    padding: 15px 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.top-nav ul li {
    display: inline-block;
    padding: 0 15px;
}
.top-nav .useraccount ul {
    float: right;
}
.top-nav ul li a {
    color: #ffeec9;
    transition: opacity .25s ease-out;
}
.top-nav ul li a:hover {
    text-decoration: none;
    opacity: 0.75;
}
.site-header .row .search-form-col {
    justify-content: flex-start;
}
.searchBox {
    padding: 0;
}
.search-form {
    position: relative;
    width: 250px;
    max-width: 100%;
}
.search-form .search-text {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px 10px 15px 35px;
    font-size: 14px;
    height: 48px;
    box-shadow: none;
    text-transform: uppercase;
}
.search-form .search-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    text-align: center;
    font-size: 16px;
    border: none;
    background: none;
}
.site-header .row .head-mobile-nav {
    justify-content: flex-end;
}
.head-mobile-nav > a {
    color: #bb8200;
    font-size: 24px;
    line-height: 1;
    position: relative;
}
.head-mobile-nav > a.header-menu {
    display: none;
}
.head-mobile-nav > a.header-cart > span.minicart-items {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 13px;
    background-color: #666666;
    color: #ffffff;
    padding: 3px;
    position: absolute;
    top: -3px;
    right: -6px;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
}
.minicart {
    min-width: 165px;
    height: 60px;
    float: right;
    padding: 15px 0 15px 10px;
    border-left: 1px solid #ececec;
}
.minicart-inner {
    display: block;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.minicart-inner:hover {
    color: #000;
    opacity: 0.8;
}
.minicart .cart-icon {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    float: left;
    margin-right: 5px;
}
.minicart .cart-details {
    display: block;
    float: left;
}

span.cart-title {
    font-size: 12px;
    line-height: 15px;
    display: block;
    font-weight: bold;
}
span.cart-count {
    color: #000;
    font-size: 10px;
    display: block;
    line-height: 15px;
    font-weight: 500;
}

.newsletter-section > .container {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #c8c8c8;
}
.newsletter-inner {
    max-width: 790px;
    margin: 0 auto;
}
.newsletter-section > .container > .row {
    max-width: 840px;
}
.newsletter-section .mailinglist-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.35em;
    letter-spacing: 0.075em;
    font-weight: 600;
}
.mailist-box {
    padding: 25px 0;
}
.mailinglist-form {
    position: relative;
}
.mailinglist-input.form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 15px 15px 15px 25px;
    text-transform: uppercase;
    height: 45px;
}
.mailinglist-submit {
    background-color: transparent;
    color: #000000;
    border-color: transparent;
    width: auto;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.btn-default.mailinglist-submit:hover, 
.btn-default.mailinglist-submit:focus {
    opacity: 0.6;
}
.mailinglist-response {
    display: none;
}
.maillist-options {
    margin: 15px 0 0;
}
.subscribe {
    float: left;
    margin-right: 20px;
    line-height: 13px;
}
.subscribe input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}
.subscribe label {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    margin-left: 3px;
    color: #fff;
    cursor: pointer;
}
.mailinglist-response {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #ccc;
}
.mailinglist-error span {
    color: #8a6d3b;
}
.mailinglist-subscribed span,
.mailinglist-unsubscribed span {
    color: #3c763d;
}
.mailinglist-response,
.mailinglist-response div {
}

.site-footer {
    background-color: transparent;
    color: #000000;
}
.site-footer > .container {
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px solid #c8c8c8;
}
.extrapages-outer {
    max-width: 400px;
    display: inline-block;
    text-align: left;
}
ul.extrapages li {
    line-height: 1;
    margin: 0 0 25px;
}
ul.extrapages li a {
    color: #000000;
    font-size: 16px;
}
.footer-social {
}

.social-icons {
    margin: 0 0 30px;
}
.footer-social > h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px;
    line-height: 1;
}
.social-icons li {
    margin-right: 10px
}
.social-icons li a {
    font-size: 22px;
    color: #bb8200;
    transition: opacity .25s ease-out;
}
.social-icons li a:hover {
    opacity: 0.6;
}
.social-icons li a > span:before {
    margin: 0;
}

.global-footer {
    padding-top: 15px;
    padding-bottom: 15px;
}
.copyright {
    padding: 15px 0;
    text-align: center;
    color: #000000;
    font-size: 12px;
    line-height: 1;
    margin: 0;
}
.copyright a {
    color: #000000;
    text-decoration: underline;
}



ul.payment-icons {
    text-align: left;
}
ul.payment-icons li {
    font-size: 34px;
    line-height: 36px;
    vertical-align: middle;
}

ul.payment-icons li.payment-icons-label,
ul.social-icons li.social-icons-label {
    font-size: 18px;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
}

.bottom-footer {
    border-top: 1px solid #c8c8c8;
}

.extrapages-shower a {
    display: block;
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none !important;
}
.extrapages-shower a:after {
    content: "\f106";
    font-family: "fontello";
    float: right;
}
.extrapages-shower a.collapsed:after {
    content: "\f107";
}
@media(max-width: 1023px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        min-height: 0;
    }
    .navbar-nav > li.dropdown > a:after {
        float: right;
    }
}
@media(max-width: 767px) {
    .logo {
        text-align: center;
        height: auto;
    }
    .searchBox {
        padding: 20px 0 0;
    }
    .search-form-col {
        clear: both;
    }
    .flex-direction-nav a:before {
        font-size: 24px;
    }
    .flex-direction-nav a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: -12px 0 0;
    }
    .extrapages {
        display: none;
    }
    .home-page-content .category-header {
        padding: 15px 0;
    }
    .extrapages-shower a {
        display: block;
    }
    ul.extrapages {
        margin: 0;
        padding: 15px 0;
    }
    ul.extrapages li a {
        font-size: 14px;
    }
}

.menu-open {
    overflow: hidden;
}
.mobile-menu-close {
    text-align: right;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.menu-open .mobile-menu {
    overflow-x: hidden;
    overflow-y: auto;
}
.mobile-menu-inner {
    background-color: #fff;
    padding: 30px 20px;
    width: 250px;
    margin-left: 0;
    margin-right: auto;
    min-height: 100vh;
    position: relative;

    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(-250px,0);
    -ms-transform: translate(-250px,0);
    -o-transform: translate(-250px,0);
    transform: translate(-250px,0);
}
.menu-open .mobile-menu-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.mobile-menu-close a {
    color: #000;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-decoration: none;
}
.mobile-menu-close a:after {
    content: '\e805';
    font-family: "fontello";
}
.mobile-menu-widget {
    margin: 30px 0;
}
.mobile-menu-widget h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1;
    border-bottom: 1px solid #ececec;
}
.mobile-menu-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu-widget ul li {
    margin: 0 0 0;
    display: block;
    width: 100%;
    padding: 0;
}
.mobile-menu-widget ul li a {
    padding: 0;
    line-height: 40px;
    font-size: 13px;
    background-color: transparent !important;
    display: block;
    color: #000;
    text-decoration: none !important;
}
.mobile-menu-widget ul li a:hover {
    color: #333;
}
.mobile-menu-widget ul ul {
    display: none !important;
}
.mobile-menu-widget ul li a:after {
    display: none;
}
.mobile-menu-widget div.searchBox {
    margin: 20px 0 50px;
}

.floating-cart {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    background-color: #101010;
    color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    text-align: center;
    width: 90px;
    display: none;
}
.floating-cart a,
.floating-cart a:hover {
    color: #ececec;
    text-decoration: none;
}
.floating-cart a:hover {
    opacity: 0.6;
}
.floating-cart span.cart-icon {
    display: block;
    font-size: 30px;
    line-height: 1;
}
.floating-cart span.cart-details {
    font-size: 12px;
    text-transform: none;
    display: block;
    margin: 5px 0 0;
}

.paging {
    float: right;
}
.paging strong, 
.paging a {}
.paging strong,
.paging a:hover {
    color: #fff;
    background-color: #0f0f0f;
    text-decoration: none;
}

/*
** Homepage
*/
.homepage-slider .container {
    width: 1600px;
    max-width: 100%;
}
.home-page .products-section {
    padding: 60px 0 0;
}
.home-page .products-section > .container {
}
.home-page .products-section h2,
.home-page .products-section .h2 {
    text-align: center;
    border: none;
    border-top: 1px solid #c8c8c8;
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    padding: 50px 0;
    margin: 0;
}
.home-page .products-section h2:after {
    display: none;
}
.home-page-content {
    padding-top: 0;
}
.home-page-content .category-footer h3 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 20px;
    font-weight: bold;
}
.home-page-content .category-footer p {
    margin: 0 0 30px;
    text-align: justify;
}
.home-page-content .category-footer a:hover img {
    opacity: 0.7;
}
.home-page-content .category-header img {
    margin: 0 auto;
}

/*
** Global Products Grid
*/
.reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.reviews-stars {
    color: #ffd800;
    font-size: 16px;
}
.product-item .name {
    text-transform: uppercase;
}
.product-item .name a {
    color: #000;
}
.product-item del.regular-price {
    text-decoration: line-through;
}
.sale-price {
    color: #9E293E;
}
.product-item .on-sale-badge {
    background-color: #922639;
}
del.original-price {
    font-weight: 500;
}
span.freeshipping {
    color: #005C4B;
}

.product-items .product-item  {
    text-align: center; 
}
.product-items .product-item .addtowishlist a {
    color:#265A87;
}
.product-item .status span:before {
    content: "-";
}
.product-item .status {
    font-size: 12px;
}
.product-item .price {
    font-size: 16px;
    font-weight: bold;
}
.product-item .img {
    position: relative;
    background-color: #fff;
}
.product-item .img a {
    display: block;
}
.product-item .img img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.product-item .action .btn {
    min-width: 150px;
}
.product-items .product-item .action .btn {
    min-width: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    background: none !important;
    color: #000000;
    font-weight: normal;
}
@media(max-width: 567px) {
    .product-items.product-items-1 .product-item,
    .product-items.product-items-2 .product-item,
    .product-items.product-items-3 .product-item,
    .product-items.product-items-4 .product-item,
    .product-items.product-items-5 .product-item,
    .product-items.product-items-6 .product-item {
        max-width: 270px;
    }
}

/*
** Checkout page fixes
*/
.checkout-1 .logo {
    padding: 20px 0;
}

/*
** Breadcrumbs
*/
.breadcrumnb ol {
    padding: 10px;
    background-color: #fafafa;
    margin: 0;
}
.breadcrumnb ol > li {
    height: 14px;
    font-size: 14px;
    line-height: 1;
}
.breadcrumnb ol li>a {
    color: #575757;
}
/*
** Category
*/
.product-items.productList .product-item .img {
    border: 1px solid #c8c8c8; 
}
.category-toolbar {
    padding-left: 5px;
}
/*
** Responsive
*/
@media(max-width: 991px) {
    .site-header {
        padding: 25px 0;
    }
    .site-header .row [class*='col-'] {
        justify-content: left;
    }
    .site-header .row .head-mobile-nav {
        justify-content: flex-end;
    }
    .head-mobile-nav > a {
        margin: 0 8px;
    }
    .head-mobile-nav > a:last-child {
        margin-right: 0;
    }
    .head-mobile-nav > a.header-menu {
        display: inline-block;
    }
}
@media(max-width: 767px) {
    .extrapages-outer {
        display: block;
        max-width: none;
    }
    .search-form .search-text {
        padding-left: 45px;
    }
    .search-form .search-submit {
        width: 30px;
        padding: 0;
    }
}










